:root{
    --gray: rgb(38, 47, 50);
}

body {
    font-family: "Californian FB", sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.content {
    display: flex;
    flex-direction: column;
}

.header-row{
    display: flex;
}

.header-row__primary-img{
    flex: 1 1 65%;
}

.header-row__primary-img figure{
    height: 100%;
}

.header-row__tag{
    flex: 1 1 35%;
    display: flex;
    flex-direction: column;
    margin: 4rem 3rem;
}

.header-row__tag__burger-menu{
    flex: 0 0 40px;
}

.header-row__tag__desc{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.burger-menu{
    width: 30px;
}

.header-row__tag__desc h2{
    color: var(--gray);
    font-size: 3.2rem;
    font-weight: normal;
    margin-bottom: 2.4rem;
}

.header-row__tag__desc h2 strong{
    color: rgb(0, 0, 0);
    font-size: 3.2rem;
    font-weight: 700;
}

.header-row__tag__desc p{
    color: var(--gray);
    font-size: 1.4rem;
    margin-bottom: 2.4rem;
}

.main-row{
    display: flex;
}

.main-row__col-1,
.main-row__col-2{
    display: flex;
    flex-direction: column;
}

.main-row__col-1{
    flex: 1 1 40%;
    color: white;
    padding: 0 4rem 0 2rem;
    background: url("../img/row-2-1-back.png") no-repeat;
    background-size: cover;
}

.main-row__col-2{
    flex: 1 1 60%;
}

.main-row__col-2__row-1{
    padding: 0 4rem 0 2rem;
    background: url("../img/row-2-2-back.png") no-repeat;
    background-size: cover;
}

.main-row__col-2__row-2{
    padding: 0 4rem 0 2rem;
    background: url("../img/row-2-3-back.png") no-repeat;
    background-size: cover;
    color: white;
}

.main-row__skills__item{
    margin: 3rem 2rem 2rem;
    max-width: 600px;
}

.main-row__col-2__row-1,
.main-row__col-2__row-2{
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.h3__title{
    font-size: 2.8rem;
    font-weight: normal;
}

.main-row__skills__item p{
    font-size: 1rem;
    margin-top: 2rem;
}

.go_btn{
    text-decoration: none;
    font-size: 1rem;
    margin: 3rem 2rem 4rem;
    padding: 1rem;
    max-width: 200px;
    text-align: center;
}

.black-border{
    color: black;
    border: 1px solid black;
    border-radius: 15px;
}

.white-border{
    color: white;
    border: 1px solid white;
    border-radius: 15px;
}

.footer-row{
    display: flex;
    color: white;
}

.footer-row__design,
.footer-row__contact{
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem 3rem;
}

.footer-row__design{
    flex: 1 1 30%;
    background: url("../img/row-3-1-back.png") no-repeat;
    background-size: cover;
    justify-content: space-between;
}

.footer-row__contact{
    flex: 1 1 70%;
    background: url("../img/row-3-2-back.png") no-repeat;
    background-size: cover;
}

.footer-row__contact__title{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.contact__form{
    width: 50%;
}

.contact__form__person{
    display: flex;
    margin-bottom: 1rem;
}

.contact__form__item{
    position: relative;
    width: 100%;
    margin-right: 2rem;
}

.contact__form__item:last-child{
    margin-right: 0;
}

.contact__form__form-input{
    padding: 1rem 2rem;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 15px;
    resize: none;
    overflow: hidden;
    color: white;
    transition: .3s;
    width: 100%;
}

.contact__form__form-label{
    position: absolute;
    left: 2rem;
    top: 1rem;
}

.contact__form__form-textarea::placeholder{
    color: white;
}

.contact__form__form-input:focus ~ .contact__form__form-label,
.contact__form__form-input:not(:placeholder-shown) ~ .contact__form__form-label{
    top: -1.2rem;
    left: 2rem;
    font-size: .8rem;
}

.contact__form__btn-item{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
    max-width: 200px;
    text-align: center;
    width: 50%;
}

.contact__form__btn{
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.contact__form__btn-item .white-border{
    align-self: flex-end;
}

.contact__social p{
    font-size: 1rem;
}

.contact__social__img{
    display: flex;
}

.contact__social__img-item{
    margin: 1rem 3px;
    width: 30px;
}

.contact__social__img-item:first-child{
    margin-left: 0;
}

.contact__social__img-item:last-child{
    margin-right: 0;
}

.footer-row__design__logo-img{
    width: 80px;
}

.contact__form__form-textarea{
    width: 100%;
    padding: 1rem 2rem;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 15px;
    resize: none;
    overflow: hidden;
    color: white;
    transition: .3s;
}

@media all and (max-width: 1280px){
    body{
        font-size: 12px;
    }
}

@media all and (max-width: 1120px) {
    .footer-row {
        flex-direction: column;
    }

    .footer-row__design {
        min-height: 500px;
    }

    .contact__form {
        width: 100%;
    }
}



@media all and (max-width: 880px) {
    .header-row{
        flex-direction: column-reverse;
    }

    .main-row{
        flex-direction: column;
    }
}

@media all and (max-width: 480px){
    body{
        font-size: 8px;
    }

    .contact__form__form-input{
        padding: 1rem;
    }
    .contact__form__form-label{
        left: 1rem;
    }

    .contact__form__form-input:focus ~ .contact__form__form-label,
    .contact__form__form-input:not(:placeholder-shown) ~ .contact__form__form-label{
        left: 1rem;
    }
}